.app-spinner {
    position: absolute;
    background-color: lightgrey;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height:125px;
    widows: 100%;
    text-align:center;
    z-index: 1;
}

.app-loader-wrapper {
    position:relative;
}